
{% extends 'base.html' %}

{% block title %}Home
{% endblock %}

{% block content %}
<div class = "row mt-5">
	<div class = "col-md-5 mx-auto">
			<div class="card" style="width: 500px; ">
					<div class="card-body">
					  <h5 class="card-title">About Me!</h5>
					 
					  <p class="card-text">
						  Name: Yssa Mae Nivales<br>
						  Email Address: yssa.nivales13@gmail.com<br>
						  Contact Number: 09123456789<br>
						  Age: 17 <br>

					  </p>
				 
					</div>
				  </div>

	</div>
</div>


</body>
<style>
body{

	background-image:url("https://images.wallpaperscraft.com/image/gradient_spots_texture_129927_1280x720.jpg");
	background-repeat: no-repeat;
	background-size:cover;
}

</style>
{% endblock %}
